<form action="/producto" method="POST">
    <div class="container mt-5">
        <div class="container mb-4 text-center">
            <h4>Nuevo Producto</h2>
        </div>    
        <input class="form-control form-control-sm mb-2" type="text" placeholder="Nombre" aria-label=".form-control-lg example" name="nombre" id="nombre">
        <textarea class="form-control form-control-sm mb-2" type="text" placeholder="Descripcion" aria-label=".form-control-lg example" name="descripcion" id="descripcion"></textarea>
        <input class="form-control form-control-sm mb-2" type="text" placeholder="Codigo" aria-label=".form-control-lg example" name="codigo" id="codigo">
        <input class="form-control form-control-sm mb-2" type="text" placeholder="www.imagenweb.com.ar" aria-label=".form-control-lg example" name="imagen" id="imagen">
        <input class="form-control form-control-sm mb-2" type="text" placeholder="Precio" aria-label=".form-control-lg example" name="precio" id="precio">
        <input class="form-control form-control-sm mb-2" type="text" placeholder="Stock" aria-label=".form-control-lg example" name="stock" id="stock">
        <div class="d-grid gap-2">
            <button class="form-control btn btn-outline-dark mb-2" type="submit">Guardar</button>
        </div>
    </div>  
</form>