<div class="container justify-content-center bg-light p-2">
    <h1 class="display-4 d-flex justify-content-center m-4"><strong>Bien<span>venido</span></strong></h1>
    <p class="texto d-flex justify-content-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nemo ad esse hic suscipit voluptatem.</p>
    <hr class="my-4">
    <p class="d-flex justify-content-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, quis reiciendis! Fugit pariatur illum dicta reiciendis optio quos facere minima.</p>
    <a href="/" class="btn btn-outline-dark m-2 d-flex justify-content-center m-5">Ir</a>
</div>
