span {
    color: red;
    font-weight: 600;
}

strong {
    color: rgba(182, 167, 167, 0.603);
    font-weight: 600;
}

.navbar-brand {
    font-weight: 500;
    font-size: 28px;
}

.nav-link {
    font-weight: 500;
}

.card {
    width: 100%;
    height: 250px;
}

.caja {
    margin-top: 20px;
    height: 450px;
}

.precio {
    margin-top: 35px;
}

.stock {
    color: red;
    font-weight: 500;
    margin-top: 35px;
}

.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerNuevoProducto {
    padding: 30px;
}

.containerMensaje {
    padding: 30px;
}

.row,
.col-6,
.col-4 {
  margin: 0;
  padding: 0;
}


/* SHOP */
.section {
    width: 100%;
    padding-bottom: 6%;
    padding-top: 2%;
  }
  .shop {
    margin-bottom: 50px;
  }
  .border-product {
    padding: 15px;
    border: 3px solid #f3f3f3;
    border-radius: 5px;
  }
  .shopBack {
    height: 250px;
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: #f3fbf7;
  }
  .shopBack img {
    width: 100%;
    height: 250px;
    object-fit: contain;
  }
  .shoptext {
    padding-top: 10px;
  }
  .shoptext p a {
    color: #252525;
  }
  .shoptext h3 {
    color: #252525;
    margin-top: 13px;
    font-weight: bold;
    font-size: 19px;
  }
  /* END OF SHOP */